@charset "UTF-8";
/**
 * @author: Cloé Ouellette
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Tiro+Tamil&display=swap');

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);


/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-conteneur-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-conteneur{
    margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NAVIGATION (NAV) */

.entete-nav {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 50px;


}

.entete-nav-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.entete-nav-item {
    font-size: 1.2rem;
    list-style: none;
    text-align: center;
    margin: 0 10px;
}

.lien--actif {
    font-size: 1.6rem;
    font-weight: bold;
}

.entete-nav-lien {
    text-decoration: none;
    color: #1D3D23;
}




/* ------------------------------------------------------------------------------------------------------------------ */
/* TITRE PAGE */


.titre-page, .titre-fiche {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    margin: 0;
    padding: 100px 0;
    text-align: center;
    color: #1D3D23;
}

.p-copyright-img-titre{
    text-align: end;
}

.image-copyright{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.img-titre-fiche{
    order: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* FOOTER */
.youtube{
    width: 120px;
}
@media (min-width:600px){
    .youtube{
        width: 200px;
    }
}
.menu-sociaux__lien {
    background-repeat: no-repeat;
    background-size:contain;
    font-size: 0;
    height: 30px;
    display: block;
    padding: 0 25px;
    text-align: center;
    background-position: center;
}
.menu-sociaux__item{
    width: 200px;
    display: flex;
    justify-content: center;
}

.menu-sociaux {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 53px 0;
}

footer {
    background-color: #1D3D23;
    color: #fff;
    padding: 10px 50px 30px;
    text-align: center;
    
}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 25px 0 10px;
}
.footer-nav-item{
    text-align: center;
    display: flex;
    
}
.footer-nav-lien {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
    width: fit-content;
    text-align: center;
}

.p-footer {
    text-align: center;
    font-size: 1.1rem;
    padding: 5px 0;
}

@media (min-width:600px){
    .menu-sociaux__lien {
        background-repeat: no-repeat;
        padding-right: 100px;
        background-size: contain;
        font-size: 0;
        height: 50px;
        display: block;
    }
    
    .menu-sociaux {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        padding: 53px 0;
    }
    
    footer {
        background-color: #1D3D23;
        color: #fff;
        padding: 10px 50px 30px;
        
    }
    
    .footer-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        padding: 25px 0 10px;
    }
    
    .footer-nav-lien {
        color: #fff;
        font-size: 1.4rem;
        text-decoration: none;
    }
    
    .p-footer {
        text-align: center;
        font-size: 1.1rem;
        padding: 5px 0;
    }

}


/* ------------------------------------------------------------------------------------------------------------------ */
/* PAGE CHASSE AUX ÉPIGRAPHES */


/* INFOS JEUX */

.infos-jeu {
    background-color: #1D3D23;
    color: #EFFBDD;
    border: #1D3D23 1px solid;
    padding: 90px 50px;
}

/* TABLEAU DU JEU */

.tableau-jeu {
    background-color: #EFFBDD;
    color: #1D3D23;
    padding: 90px 50px;
}

.titre-tableau-jeu {
    margin-bottom: 60px;
   
    /* margin-left: ; */
}



/* .carte{
    margin: 0 10px;
} */

.bouton-jeu {
    text-align: center;
    margin: 77px 0 0;
}

.btn-piger-chasse {
    width: 404px;
    height: 66px;
    background: #1D3D23;
    border-radius: 100px;
    color: #FFDB71;
}

.btn-piger-chasse:hover {
    background: #FFDB71;
    color: #1D3D23;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* PAGE FICHE SPORTS ET SPECTACLES */



/* notes bibliographiques */

.notes-biblios {
    background-color: #1D3D23;
    color: #EFFBDD;
    border: #1D3D23 1px solid;
    padding: 90px 50px;
}

/* catégorie */

.categorie {
    position: absolute;
    top: 880px;
    left: 40%;
    width: fit-content;
    background-color: #FFDB71;
    padding: 0 20px;
    color: #1D3D23;
}

/* section localisation et epigraphe */

.infos-localisation-epigraphe {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    color: #1D3D23;
    padding: 50px 50px;
}

/* section capsule sonore */

.section-capsule-sonore {
    background-color: #1D3D23;
    border: #1D3D23 1px solid;
    color: #fff;
    padding: 50px 50px;
}

/* section soumettre la fiche */

.soumission-fiche {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    color: #1D3D23;
    padding: 90px 50px;
}

.p-association{
    margin-bottom: 60px;
}

.message-erreur{
    padding: 100px 0 50px;
}

.bouton-redirection {
    margin: 10px 0;
    width: max-content;
    height: 36px;
    background-color: #A4BE7B;
    border-style: none;
    border-radius: 5px;
    color: #000000;
    text-align: left;
    padding: 0 20px ;
}
.redirection-lien{
    text-decoration: none;
    color: #000000;
}
.redirection-lien:hover {
    cursor: pointer;
}

span {
    font-weight: bold;
    color: #1D3D23;
    font-size: 1.8rem;
}


.carte_personnage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.carte_personnage p {
    padding-top: 25px;
}


/* filtre */

.filtre {
    justify-content: center;
    margin:20px 50px;
    background-color: white;
    padding: 20px 30px;

}

@media (min-width:800px){
    .filtre {
        justify-content: center;
        margin:50px 100px;
        background-color: white;
        padding: 20px 150px;
    
    }
    }

@media (min-width:600px){
.filtre {
    justify-content: center;
    margin:50px 100px;
    background-color: white;
    padding: 20px 150px;

}
}


.liste_1 li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}

@media (min-width:800px){
    .liste_1 li {
        list-style: none;
        padding: 10px 15px;
    }
    }

@media (min-width:600px){
.liste_1 li {
    list-style: none;
    padding: 10px 15px;
}
}


.liste_2 li {
    list-style: none;
    padding: 10px 15px;
}

@media (min-width:800px){
    .liste_2 li {
        list-style: none;
        display: inline-block;
        padding: 10px 15px;
    }
    }

@media (min-width:600px){
.liste_2 li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}
}



body {
    background-color: #EFFBDD;
}








/* bouton */

input[type="checkbox"].bouton {
    display: none;
  }
  input[type="checkbox"].bouton + label::before {
    content:'';
    border: 1px solid #FFDB71;
    padding: 0px 10px;
    margin-right:  10px;
  }
  input[type="checkbox"].bouton:checked + label::before {
    background-color: #FFDB71;
  }