@charset "UTF-8";
/**
 * @author: Cloé Ouellette
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Tiro+Tamil&display=swap');

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);


/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-conteneur-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-conteneur {
    margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NAVIGATION (NAV) */

.entete-nav {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 50px;
    height: 200px;

}

.entete-nav-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.entete-nav-item {
    font-size: 1.2rem;
    list-style: none;
    text-align: center;
    margin: 0 10px;
}

.lien--actif {
    font-size: 1.6rem;
    font-weight: bold;
}

.entete-nav-lien {
    text-decoration: none;
    color: #1D3D23;
}

.logo{
    width: 100%;
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* TITRE PAGE */


.titre-page,
.titre-fiche {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    margin: 0;
    padding: 100px 0;
    text-align: center;
    color: #1D3D23;
    position: relative;
}

.titre-fiche{
    height: 700px;
}

.span-prenom {

    position: absolute;
    width: 302px;
    height: 92px;
    left: 24%;
    top: 30%;

    font-family: 'Tiro Tamil';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 92px;

}

.span-nom {
    position: absolute;
    width: 254px;
    height: 92px;
    left: 61%;
    top: 55%;


    font-family: 'Tiro Tamil';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 92px;
}

.p-copyright-img-titre {
    text-align: end;
    margin-bottom: 30px;
}

.image-copyright {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.img-titre-fiche {
    order: 1;
    margin-left: 25px;

}



/* position: absolute;
width: 490px;
height: 490px;
left: 475px;
top: 318px;

background: url(e0001_edmund_alleyn.jpg); */




/* ------------------------------------------------------------------------------------------------------------------ */
/* FOOTER */

.menu-sociaux__lien {
    background-repeat: no-repeat;
    padding-right: 100px;
    background-size: contain;
    font-size: 0;
    height: 50px;
    display: block;
}

.menu-sociaux {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 53px 0;
}

footer {
    background-color: #1D3D23;
    color: #fff;
    padding: 10px 50px 30px;

}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 25px 0 10px;
}

.footer-nav-lien {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
}

.p-footer {
    text-align: center;
    font-size: 1.1rem;
    padding: 5px 0;
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* PAGE CHASSE AUX ÉPIGRAPHES */


/* INFOS JEUX */

.infos-jeu {
    background-color: #1D3D23;
    color: #EFFBDD;
    border: #1D3D23 1px solid;
    padding: 90px 50px;
}

/* TABLEAU DU JEU */

.tableau-jeu {
    background-color: #EFFBDD;
    color: #1D3D23;
    padding: 90px 50px;
}

.titre-tableau-jeu {
    margin-bottom: 60px;

    /* margin-left: ; */
}

.cartes-jeu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .carte{
    margin: 0 10px;
} */

.bouton-jeu {
    text-align: center;
    margin: 77px 0 0;
}

.btn-piger-chasse {
    width: 404px;
    height: 66px;
    background: #1D3D23;
    border-radius: 100px;
    color: #FFDB71;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-piger-chasse:hover {
    background: #FFDB71;
    color: #1D3D23;
    cursor: pointer;

}

/* ------------------------------------------------------------------------------------------------------------------ */
/* PAGE FICHE SPORTS ET SPECTACLES */



/* notes bibliographiques */

.notes-biblios {
    background-color: #1D3D23;
    color: #EFFBDD;
    border: #1D3D23 1px solid;
    display: flex;
    align-items: center;
    padding: 90px 50px;
    height: 500px;
}

/* catégorie */

.categorie {
    position: absolute;
    top: 1390px;
    left: 40%;
    width: fit-content;
    background-color: #FFDB71;
    padding: 0 20px;
    color: #1D3D23;
}

/* section localisation et epigraphe */

.infos-localisation-epigraphe {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    color: #1D3D23;
    padding: 90px 50px;
}

.section-localisation {
    position: relative;
    display: flex;
    padding: 19px 0;
}
.section-epigraphe {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 19px 0;
}

.sous-titre-localisation {
    position: absolute;
    top: 30%;
    left: 37%;
    width: 486px;
    height: 92px;

    font-family: 'Tiro Tamil';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 92px;
}

.sous-titre-epigraphe{
    position: absolute;
    margin-bottom: 10px;
    top: 35%;
    left: 0;
    width: 486px;
    height: 92px;

    font-family: 'Tiro Tamil';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 92px;
}

.p-localisation {
    margin-left: 25px;
    margin-bottom: 50px;
    align-self: flex-end;
}

.p-epigraphe{
    margin-bottom: 50px;
    align-self: flex-end;
}

.img-localisation {
    width: 40.5%;
}

.img-epigraphe{
    order: 1;
    margin-right: 80px;
}


/* section capsule sonore */

.section-capsule-sonore {
    background-color: #1D3D23;
    border: #1D3D23 1px solid;
    color: #fff;
    padding: 90px 50px;
}

.sous-titre-capsule{
    color: #EFFBDD;
    text-align: center;
}

.p-transcription{
    overflow: scroll;
    width: fit-content;
    height: 100px;
    background-color: #5b5b5b;
}

/* section soumettre la fiche */

.soumission-fiche {
    background-color: #EFFBDD;
    border: #1D3D23 1px solid;
    color: #1D3D23;
    padding: 90px 50px;
}

.p-association {
    margin-bottom: 60px;
}

.message-erreur {
    padding: 100px 0 50px;
}

.bouton-redirection {
    margin: 10px 0;
    width: max-content;
    height: 36px;
    background-color: #A4BE7B;
    border-style: none;
    border-radius: 5px;
    color: #000000;
    text-align: left;
    padding: 0 20px;
}

.redirection-lien {
    text-decoration: none;
    color: #000000;
}

.redirection-lien:hover {
    cursor: pointer;
}

span {
    font-weight: bold;
    color: #1D3D23;
    font-size: 1.8rem;
}