@charset "UTF-8";
/**
 * @author: Kim Dion
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Tiro+Tamil&display=swap');

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);
@import url(menu.css);
@import url(style-mandatC.css);




/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ------------------------------------------------------------------------------------------------------------------ */



span {
    font-weight: bold;
    color: #1D3D23;
    font-size: 1.8rem;
}


.personnages {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.carte_personnage p {   
    color: #1D3D23;
}




/* filtre */

.filtre {
    justify-content: center;
    /* margin:20px 50px; */
    background-color: white;
    /* padding: 20px 30px; */
    margin-bottom:100px ;

}


.liste_indice li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}

@media (min-width:800px){
    .liste_indice li {
        list-style: none;
        padding: 10px 15px;
    }
    }

@media (min-width:600px){
.liste_indice li {
    list-style: none;
    padding: 10px 15px;
}
}


.liste_secteur_activite li {
    list-style: none;
    padding: 10px 15px;
}

@media (min-width:800px){
    .liste_secteur_activite li {
        list-style: none;
        display: inline-block;
        padding: 10px 15px;
    }
    }

@media (min-width:600px){
.liste_secteur_activite li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}
}



body {
    background-color: #EFFBDD;
}


.p-filtrer{
    background-color: #1D3D23;
    color: #ffffff;
    margin: 0;
    padding: 20px 30px;
    font-size: 1.7rem;
    font-weight: 600;
}

.type-indice{
    padding: 20px 30px;
}


a{
    text-decoration: none;
    color: #1D3D23;

}

.galerie{
    background-color: #EFFBDD;
    color: #1D3D23;
    padding: 0px 0px;
}

/* bouton */

input[type="checkbox"].check-box {
    display: none;
    width: 25px;
    height: 25px;
  }
  input[type="checkbox"].check-box + label::before {
    content:'';
    border: 2px solid #FFDB71;
    width: 25px;
    height: 25px;
    padding: 0px 10px;
    margin-right:  10px;
  }
  input[type="checkbox"].check-box:checked + label::before {
    background-color: #FFDB71;
    content:"✔";
    color: #1D3D23;
  }


/* grille des carte de personnages */
.personnages_cartes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    text-align: center;
}

@media (min-width: 600px) {
.personnages_cartes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    text-align: center;
}
}

@media (min-width: 800px) {
    .personnages_cartes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        text-align: center;
        margin-left: 10px;
    }
    }


.carte_personnage img{
    width: 154px;
}


@media (min-width: 800px) {
.carte_personnage img{
    width: 320px;
    margin-left: 100px;
}
}

@media (min-width: 600px) {
    .carte_personnage img{
        width: 280px;
    }
    }