@charset "UTF-8";
/**
 * @author: Perle Costedoat
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Tiro+Tamil&display=swap');

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);
@import url(menu.css);

/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* MAIN */
body{
    background-color: #EFFBDD;
    text-align:left;
}
.main{
    width: auto;
    margin: 10px;
    padding: 10% 0 10%;
}

h2{
    font-family:'Lexend Zetta', sans-serif;
    font-size: 1.5em;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* BOUTON */
.pbouton{
    text-align: center;
}
@media (min-width:600px){
    .pbouton{
    text-align: center;
    padding: 100px 0 0;
}
}

.btnDirectionChasse{
    
    background-color:#FFDB71 ;
    width: fit-content;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    padding: 15px 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;

}
@media (min-width: 600px){
    .btnDirectionChasse{
        background-color:#FFDB71 ;
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        padding: 15px;
        width: 600px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
    
    }
}
@media (min-width: 800px){
    .btnDirectionChasse{
        background-color:#FFDB71 ;
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        padding: 15px;
        width: 600px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
    
    }
}
.btnDirectionChasse:hover {
    background-color: #1D3D23;
    color: #EFFBDD;

}
/* ------------------------------------------------------------------------------------------------------------------ */
/* FOOTER
.youtube{
    width: 120px;
}
@media (min-width:600px){
    .youtube{
        width: 200px;
    }
}
.menu-sociaux__lien {
    background-repeat: no-repeat;
    background-size:contain;
    font-size: 0;
    height: 30px;
    display: block;
    padding: 0 25px;
    text-align: center;
    background-position: center;
}
.menu-sociaux__item{
    width: 200px;
    display: flex;
    justify-content: center;
}

.menu-sociaux {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 53px 0;
}

footer {
    background-color: #1D3D23;
    color: #fff;
    padding: 10px 50px 30px;
    text-align: center;
    
}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 25px 0 10px;
}
.footer-nav-item{
    text-align: center;
    display: flex;
    
}
.footer-nav-lien {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
    width: fit-content;
    text-align: center;
}

.p-footer {
    text-align: center;
    font-size: 1.1rem;
    padding: 5px 0;
}

@media (min-width:600px){
    .menu-sociaux__lien {
        background-repeat: no-repeat;
        padding-right: 100px;
        background-size: contain;
        font-size: 0;
        height: 50px;
        display: block;
    }
    
    .menu-sociaux {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        padding: 53px 0;
    }
    
    footer {
        background-color: #1D3D23;
        color: #fff;
        padding: 10px 50px 30px;
        
    }
    
    .footer-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        padding: 25px 0 10px;
    }
    
    .footer-nav-lien {
        color: #fff;
        font-size: 1.4rem;
        text-decoration: none;
    }
    
    .p-footer {
        text-align: center;
        font-size: 1.1rem;
        padding: 5px 0;
    }

} */
